@import "tailwindcss";

@theme inline {
  --color-background: #F8F9FA;
  --color-foreground: #212529;

  --color-primary: #4A90E2;
}

@layer base {
  body {
    @apply bg-background text-foreground;
  }
}
