@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Momo+Trust+Display&display=swap");
@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-muted: var(--muted);

  --color-primary: var(--primary);

  --font-sans: "Be Vietnam Pro", sans-serif;
  --font-display: "Momo Trust Display", cursive;
}

.light {
  --background: #f8f9fa;
  --foreground: #212529;
  --muted: #6c757d;

  --primary: #4a90e2;
}

.dark {
  --background: #212529;
  --foreground: #e0e0e0;
  --muted: #88929b;

  --primary: #4a90e2;
}

@layer base {
  body {
    @apply bg-background text-foreground font-sans;
  }
}
