---
import RootLayout from "../layouts/RootLayout.astro";
---

<RootLayout>
  <main class="mt-14 mx-auto max-w-xl px-4 py-6 space-y-4">
    <section>
      <h3 class="text-lg font-display">About Me</h3>
      <p class="indent-4 text-justify">
        I am Viet, a Vietnamese passionate developer. I have a strong interest
        in Artificial Intelligence, Web Development and Minecraft modding. I
        focus on building practical, impact-driven projects that solve
        real-world problems in my daily environment. Currently, I'm
        undergraduating at the University of Engineering and Technology, Vietnam
        National University (UET-VNU), majoring in Artificial Intelligence.
      </p>
    </section>
  </main>
</RootLayout>
