---
import Avatar from "../components/Avatar.astro";
import RootLayout from "../layouts/RootLayout.astro";

const projects = Object.values(
  import.meta.glob("./projects/*.md", { eager: true }),
);
---

<RootLayout>
  <main class="mt-14 mx-auto max-w-2xl px-4 py-6 space-y-16">
    <section id="about" class="space-y-4 scroll-mt-28">
      <h3 class="text-lg font-display">Giới thiệu</h3>
      <div class="grid grid-cols-[auto_1fr] gap-6 items-center">
        <Avatar class="size-48" />
        <div class="space-y-1">
          <p class="font-semibold text-sm text-justify indent-4">
            Tôi tên là Nguyễn Thế Việt, hiện đang là sinh viên năm nhất ngành
            Trí tuệ nhân tạo tại Trường Đại học Công nghệ - Đại học Quốc gia Hà
            Nội.
          </p>
          <p class="font-semibold text-sm text-justify indent-4">
            Tôi có một sở thích là tìm hiểu và phát triển các ứng dụng để giải
            quyết các vấn đề trong cuộc sống thường ngày, đó cũng chính là mục
            tiêu khi tôi chọn ngành học này.
          </p>
          <p class="font-semibold text-sm text-justify indent-4">
            Trong portfolio này, tôi muốn thể hiện các kĩ năng số đã học được.
            Đồng thời đây cũng là một nơi để tôi lưu trữ và chia sẻ các sản phẩm
            số của mình.
          </p>
        </div>
      </div>
    </section>

    <section id="projects" class="scroll-mt-28 space-y-4">
      <h3 class="text-lg font-display">Dự án</h3>
      <div class="flex flex-col gap-2">
        {
          projects.map((project: any, index) => (
            <a
              href={project.url}
              class="group flex items-center gap-4 rounded-2xl p-4 transition-all hover:bg-muted/10"
            >
              <span class="text-muted font-display text-sm font-medium tabular-nums">
                {String(index + 1).padStart(2, "0")}
              </span>
              <h4 class="font-medium text-foreground transition-colors group-hover:text-primary">
                {project.frontmatter.title}
              </h4>
            </a>
          ))
        }
      </div>
    </section>

    <section id="conclusion" class="space-y-2 scroll-mt-28">
      <h3 class="text-lg font-display">Tổng kết</h3>
      <div class="space-y-2">
        <p class="font-semibold text-[0.95rem] text-justify indent-4">
          Đối với quá trình xây dựng portfolio, tôi cảm thấy đây là một cuốn
          nhật ký, một hệ thống ghi lại toàn bộ quá trình học tập, các dự án tôi
          đã thực hiện. Việc tự tay thiết kế, chọn lọc, sắp xếp các nội dung lên
          portfolio của chính mình mang lại một niềm tự hào rất lớn cho tôi.
        </p>
        <p class="font-semibold text-[0.9rem] text-justify indent-4">
          Xây dựng portfolio này mang lại cho tôi khá nhiều trải nghiệm về các
          kĩ năng được học trong học phần, như là thiết kế giao diện, viết lách
          hay là cách bố trí thông tin.
        </p>
        <p class="font-semibold text-[0.9rem] text-justify indent-4">
          Việc tôi thấy khó nhất khi thực hiện dự án portfolio này là việc phải
          cân bằng giữa phong cách cá nhân và tính học thuật. Làm sao để biến
          những dự án mang tính học thuật thành những nội dung súc tích, dễ hiểu
          nhưng vẫn làm nổi bật được giá trị cốt lõi. Việc lựa chọn nền tảng
          hiển thị, tối ưu hóa giao diện và cấu trúc bài viết sao cho logic cũng
          tiêu tốn của tôi không ít thời gian. Nhưng chính việc đối mặt và vượt
          qua những nút thắt đó đã giúp tôi hiểu rằng: làm công nghệ không chỉ
          là giải quyết bài toán, mà còn là nghệ thuật truyền tải giải pháp.
        </p>
      </div>
    </section>
  </main>
</RootLayout>
