---
import Avatar from "../components/Avatar.astro";
import RootLayout from "../layouts/RootLayout.astro";
---

<RootLayout>
  <main class="mt-14 mx-auto max-w-2xl px-4 py-6 space-y-8">
    <section id="about" class="space-y-4">
      <h3 class="text-lg font-display">Giới thiệu</h3>
      <div class="grid grid-cols-[auto_1fr] gap-6 items-center">
        <Avatar class="size-48" />
        <div>
          <p class="font-semibold text-sm text-justify indent-4">
            Tôi tên là Nguyễn Thế Việt, hiện đang là sinh viên năm nhất ngành
            Trí tuệ nhân tạo tại Trường Đại học Công nghệ - Đại học Quốc gia Hà
            Nội.
          </p>
          <p class="font-semibold text-sm text-justify indent-4">
            Tôi có một sở thích là tìm hiểu và phát triển các ứng dụng để giải
            quyết các vấn đề trong cuộc sống thường ngày, đó cũng chính là mục
            tiêu khi tôi chọn ngành học này.
          </p>
          <p class="font-semibold text-sm text-justify indent-4">
            Trong portfolio này, tôi muốn thể hiện các kĩ năng số đã học được.
            Đồng thời đây cũng là một nơi để tôi lưu trữ và chia sẻ các sản phẩm
            số của mình.
          </p>
        </div>
      </div>
    </section>

    <section id="projects">
      <h3 class="text-lg font-display">Dự án</h3>
    </section>

    <section id="conclusion">
      <h3 class="text-lg font-display">Tổng kết</h3>
    </section>
  </main>
</RootLayout>
