---
interface Props {
  class?: string;
}

const { class: _class } = Astro.props;
---

<div class={`rounded-full border border-white/80 overflow-hidden ${_class}`}>
  <img src="/avatar.jpg" alt="Avatar" class="size-full object-cover" />
</div>
