---
import Avatar from "./Avatar.astro";

const pathname = Astro.url.pathname;
---

<header
  class="fixed top-0 left-0 right-0 h-14 bg-background/50 backdrop-blur-sm z-31"
>
  <div class="mx-auto max-w-4xl h-full px-6 py-2 grid grid-cols-[1fr_auto_1fr]">
    <div class="flex flex-row items-center justify-start">
      <a href="/" class="flex flex-row items-center select-none gap-1.5">
        <Avatar class="size-10" />
        <div class="flex flex-col">
          <span class="font-medium">Nguyễn Thế Việt</span>
          <span class="text-xs">Passinate Developer</span>
        </div>
      </a>
    </div>
    <nav class="flex flex-row items-center justify-center gap-3">
      <a
        href="/projects"
        class={"px-3 py-1.5 rounded-sm text-sm font-medium select-none " +
          (pathname.startsWith("/projects")
            ? "bg-primary text-foreground"
            : "hover:underline")}>Projects</a
      >
      <a
        href="/blogs"
        class={"px-3 py-1.5 rounded-sm text-sm font-medium select-none " +
          (pathname.startsWith("/blogs")
            ? "bg-primary text-foreground"
            : "hover:underline")}>Blogs</a
      >
    </nav>
    <div class="flex flex-row items-center justify-end">
      Dark/Light mode toggle goes here
    </div>
  </div>
</header>
