<header class="fixed top-0 left-0 right-0 h-14 bg-gray-400">
  <div class="mx-auto max-w-3xl h-full grid grid-cols-[1fr_auto_1fr]">
    <div class="flex flex-row items-center justify-start">
      Personal branding goes here
    </div>
    <nav class="flex flex-row items-center justify-center gap-3">
      Links goes here
    </nav>
    <div class="flex flex-row items-center justify-end">
      Dark/Light mode toggle goes here
    </div>
  </div>
</header>
