---
import "../styles/global.css";

import { ClientRouter } from "astro:transitions";
import Header from "../components/Header.astro";
---

<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <ClientRouter />
  </head>
  <body>
    <Header />
    <main class="mt-14">
      <slot />
    </main>
  </body>
</html>
